<%= form_with model: [@csv_loader, @csv_loader.csv_elements.build] do |form| %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">CSV</h5>
      <h6 class="card-subtitle mb-2 text-muted">Veuillez choisir un fichier csv</h6>
      <div class="d-flex">
        <p class="card-text"><%= form.file_field :csv_file %> </p>
        <%= form.hidden_field :csv_loader_id, value: csv_loader.id %> 
      </div>
      <span class="card-link"><%= form.submit('Soumettre le ficher') %></span>
    </div>
  </div>
<% end %>
