<h1 class="text-center">CSV</h1>
<p class="text-center mt-2">Voici un echantillon du contenu du csv choisi</p><br>

<div class="row">
  <div class="col">
    <%= render partial: "table", locals: { content: @content }%>
  </div>
  <div class="col">
    <%= render partial: "loaders/form_chosen_values", locals: { loader: loader }%>
  </div>
</div>
